//animations
@keyframes beat {
	0% {
		transform: scale(1);
	}

	@for $i from 1 through 4 {
		#{($i * 25) - 2 + "%"} {
			transform: scale(1);
		}
		#{($i * 25) - 1 + "%"} {
			@if $i == 4 {
				transform: scale(1.08, 1.06);
			} @else if $i == 2 {
				transform: scale(1.025, 1.01);
			} @else {
				transform: scale(1.01, 1.025);
			}
		}
		#{$i * 25 + "%"} {
			transform: scale(1);
		}
	}
}

@keyframes beatNav {
	0% {
		transform: translateX(var(--translateX, 0)) translateY(var(--translateY, 0)) skewX(var(--skewX, 0))
			skewY(var(--skewY, 0)) rotateX(var(--rotateX, 0)) rotateY(var(--rotateY, 0)) rotateZ(var(--rotateZ, 0)) scale(1);
	}

	@for $i from 1 through 4 {
		#{($i * 25) - 2 + "%"} {
			transform: translateX(var(--translateX, 0))
				translateY(var(--translateY, 0))
				skewX(var(--skewX, 0))
				skewY(var(--skewY, 0))
				rotateX(var(--rotateX, 0))
				rotateY(var(--rotateY, 0))
				rotateZ(var(--rotateZ, 0))
				scale(1);
		}
		#{($i * 25) - 1 + "%"} {
			@if $i == 4 {
				transform: translateX(var(--translateX, 0))
					translateY(var(--translateY, 0))
					skewX(var(--skewX, 0))
					skewY(var(--skewY, 0))
					rotateX(var(--rotateX, 0))
					rotateY(var(--rotateY, 0))
					rotateZ(var(--rotateZ, 0))
					scale(1.08, 1.06);
			} @else if $i == 2 {
				transform: translateX(var(--translateX, 0))
					translateY(var(--translateY, 0))
					skewX(var(--skewX, 0))
					skewY(var(--skewY, 0))
					rotateX(var(--rotateX, 0))
					rotateY(var(--rotateY, 0))
					rotateZ(var(--rotateZ, 0))
					scale(1.025, 1.01);
			} @else {
				transform: translateX(var(--translateX, 0))
					translateY(var(--translateY, 0))
					skewX(var(--skewX, 0))
					skewY(var(--skewY, 0))
					rotateX(var(--rotateX, 0))
					rotateY(var(--rotateY, 0))
					rotateZ(var(--rotateZ, 0))
					scale(1.01, 1.025);
			}
		}
		#{$i * 25 + "%"} {
			transform: translateX(var(--translateX, 0))
				translateY(var(--translateY, 0))
				skewX(var(--skewX, 0))
				skewY(var(--skewY, 0))
				rotateX(var(--rotateX, 0))
				rotateY(var(--rotateY, 0))
				rotateZ(var(--rotateZ, 0))
				scale(1);
		}
	}
}

@keyframes rotateGradient {
	$degrees: 34deg;
	$color1: var(--purple);
	$color2: var(--purple-dark);
	$size1: 8px;
	$size2: 8px;

	0% {
		background-image: repeating-linear-gradient(
			#{$degrees},
			#{$color1} #{$size1},
			#{$color1} #{$size2 * 2},
			#{$color2} #{$size1 * 2},
			#{$color2} #{$size2 * 4}
		);
	}

	@for $i from 1 through $bg-count {
		$size1: 12px;
		$size2: 12px;

		#{($i * (100 / $bg-count)) + "%"} {
			@if $i % 6 == 0 {
				$degrees: $i * (11 - $i * 1.25) + "deg";
				$color1: var(--purple-darkest);
				$color2: var(--purple-dark);
				$size1: $size1 * 1.75;
				$size2: $size2 * 2.125;
			} @else if $i % 5 == 0 {
				$degrees: $i * (26 - $i * 2.33) + "deg";
				$color1: var(--orange-neon);
				$color2: var(--red);
				$size1: $size1 * 0.25;
				$size2: $size2 * 1.625;
			} @else if $i % 4 == 0 {
				$degrees: $i * (31 - $i * 1.75) + "deg";
				$color1: var(--red);
				$color2: var(--red-dark);
				$size1: $size1 * 0.825;
				$size2: $size2 * 1.015;
			} @else if $i % 3 == 0 {
				$degrees: $i * (13 - $i * 3.325) + "deg";
				$color1: var(--purple);
				$color2: var(--purple-darker);
				$size1: $size1 * 0.75;
				$size2: $size2 * 1.125;
			} @else if $i % 2 == 0 {
				$degrees: $i * (43 - $i * 2.15) + "deg";
				$color1: var(--red-dark);
				$color2: var(--orange-dark);
				$size1: $size1 * 0.45;
				$size2: $size2 * 1.4;
			} @else {
				$degrees: $i * (22 - $i * 1.5) + "deg";
				$color1: var(--orange-dark);
				$color2: var(--orange-neon);
				$size1: $size1 * 1.05;
				$size2: $size2 * 0.95;
			}

			background-image: repeating-linear-gradient(
				#{$degrees},
				#{$color1} #{$size1},
				#{$color1} #{$size2 * 2},
				#{$color2} #{$size1 * 2},
				#{$color2} #{$size2 * 4}
			);
		}
	}
}

@keyframes panGradient {
	0% {
		transform: translate(-20vmin, -20vmin);
	}
	100% {
		transform: translate(20vmin, 20vmin);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(100%);
	}
	50% {
		transform: translateY(0%);
	}
	75% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes moveAlongWord {
	0% {
		transform: translateX(0) translateY(0) rotate(0deg);
	}
	25% {
		transform: translateX(50%) translateY(25%);
	}
	50% {
		transform: translateX(100%) translateY(0%) rotate(180deg);
	}
	75% {
		transform: translateX(150%) translateY(-25%);
	}
	100% {
		transform: translateX(200%) translateY(0) rotate(360deg);
	}
}
