article,
aside {
	padding: 2rem;

	> * + * {
		margin-top: 1.5rem;
	}
}

section {
	display: grid;
	grid-template-columns: 30ch 70ch;
	align-items: center;
	justify-content: center;
	padding: 2rem;

	&:nth-child(odd) {
		// align-items: start;
		justify-content: start;
	}
	&:nth-child(even) {
		// align-items: end;
		justify-content: end;
	}

	> * {
		grid-column: 2;
	}
	> h2 {
		grid-column: 1;
		grid-row: 1 / -1;
		padding: 1rem;
	}
}
