main {
}

article > *,
aside {
	&:nth-child(odd) {
		--background-color: var(--purple-dark);
		--angle: -0.5deg;
	}
	&:nth-child(even) {
		--background-color: var(--purple-darkest);
		--angle: -0.5deg;
	}

	&:nth-child(n):only-child {
		--background-color: var(--purple-darker);
		--angle: 0.25deg;
	}
}
aside {
	--heading-color: var(--green-neon);

	--link-color: var(--teal);
	--link-color--hover: var(--yellow-neon);

	&:nth-child(odd) {
		--background-color: var(--green-darkest);
	}
	&:nth-child(even) {
		--background-color: var(--green-darker);
	}
	&:nth-child(n):only-child {
		--background-color: var(--green-darkest);
	}
}

article .container,
aside .container {
	max-width: min(calc(var(--line-length-max) * 1.5), 100%);
	margin-left: auto;
	margin-right: auto;

	> * + * {
		margin-top: 1.5rem;
	}

	padding: 4rem 2rem;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: -10;
		top: 0;
		left: 0;
		right: auto;
		bottom: -1rem;
		width: 100vw;

		// mix-blend-mode: hue;
		// opacity: 0.5;
		transform: skewY(var(--angle));
		transform-origin: center left;
		// backdrop-filter: saturate(110%);

		background-color: var(--background-color);
	}
	&::after {
		transform: skewY(calc(var(--angle) * -1));
		transform-origin: center right;
	}
}

main {
}

#about {
	//<article>, child of main
	ul {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		margin-left: 0;

		li {
			padding: 1rem;
			margin: var(--list-spacing, 0);

			font-weight: bold;
			mix-blend-mode: color-dodge;
			@include ridiculous-text-shadow($width1: 1px, $width2: 2px, $color1: black, $color2: black);

			transform: rotate(var(--list-rotation, 1deg));

			&:nth-child(1n) {
				background-color: var(--red-dark);
			}
			&:nth-child(2n) {
				background-color: var(--purple-dark);
			}
			&:nth-child(3n) {
				background-color: var(--blue-dark);
			}
			&:nth-child(4n) {
				background-color: var(--green-dark);
			}
			&:nth-child(5n) {
				background-color: var(--purple-darkest);
			}

			@for $i from 1 through 30 {
				&:nth-child(#{$i}n) {
					$j: 20 - $i;

					$x: $j * ($i / 100);
					$y: $j * ($i / 100);

					@if $i % 6 == 0 {
						$x: $x * 0.559;
						$y: $y * 0.359;
						--list-rotation: 3deg;
					} @else if $i % 5 == 0 {
						$x: $x * 0.689;
						$y: $y * 0.371;
						--list-rotation: -4deg;
					} @else if $i % 4 == 0 {
						$x: $x * 0.479;
						$y: $y * 0.362;
						--list-rotation: 4deg;
					} @else if $i % 3 == 0 {
						$x: $x * 0.566;
						$y: $y * 0.372;
						--list-rotation: -2deg;
					} @else if $i % 2 == 0 {
						$x: $x * 0.463;
						$y: $y * 0.341;
						--list-rotation: 2deg;
					} @else {
						$x: $x * 0.411;
						$y: $y * 0.292;
						--list-rotation: -3deg;
					}
					margin: #{"-" + $x + "em"} #{"-" + $y + "em"};
				}
			}
		}
	}
}

#guidelines {
	//<article>, child of main
}
.link-guidelines {
	--icon: "\0026A0";
	--icon-fudge-x: -0.2em;
	--icon-fudge-y: -0.55em;
}

#contribute {
	//<article>, child of main
}

#files {
	//<footer>, child of article#contribute, sibling of .containers
	a {
		margin-left: 0.75em;
		margin-right: 2em;
	}
	.link-downloadcss {
		--icon: "\002774";
		--icon-fudge-y: -0.33em;
	}
	.link-downloadhtml {
		--icon: "\00276E";
		--icon-fudge-y: -0.45em;
	}
	.link-codepen {
		--icon: "\002646";
		--icon-fudge-x: -0.175em;
		--icon-fudge-y: -0.45em;
	}
}
.link-allstyles {
	--icon: "\00221E";
	--icon-fudge-x: -0.1em;
	// --icon-fudge-y: -0.55em;
}

//Current Style
.profile {
	ul {
		list-style-type: none;
		padding: 0;
		margin-left: 0;

		display: flex;
		flex-flow: row wrap;

		> * {
			margin-top: 1em;
			margin-right: 1em;
			margin-bottom: 1em;
			flex-basis: calc(50% - 2em);
			// min-width: fit-content;
		}
	}
	li {
		display: flex;
		flex-flow: column nowrap;

		@include ridiculous-text-shadow($width1: 2px, $width2: 3px, $color1: black, $color2: black);

		span:first-child {
			text-transform: uppercase;
			font-style: italic;
			font-style: 0.9em;
		}
		span + span {
			margin-top: 0em;
			font-size: 1.2em;
			color: var(--orange-light);
		}
	}
}
.profile-title {
}
.profile-author {
}
.profile-twitter {
}
.profile-website {
}

.profile .container > a {
	--icon: "\002609";
	--icon-fudge-y: -0.6em;
}

#styles {
	// <aside>
}
.features {
	// <ul>, child of aside#styles .container
	list-style-type: none;
	padding: 0;
	margin-left: 0;
	max-width: none;

	// display: flex;
	// flex-flow: row wrap;
	// justify-content: space-between;

	display: flex;
	flex-wrap: wrap;
	--margin: 0.75rem;
	--modifier: calc(35rem - 100%);
	margin: calc(var(--margin) * -1);

	li {
		flex-grow: 1;
		flex-basis: calc(var(--modifier) * 999);
		margin: var(--margin);
	}

	li > span {
		display: flex;
		flex-flow: column nowrap;
	}
	li a {
		font-size: 1.1em;
	}
	li a + span {
		font-size: 0.95em;
		font-style: italic;
	}

	+ a.link-allstyles {
		margin-top: 2rem;
	}
}
