article,
aside {
	&:first-child {
		--background-color: var(--purple-dark);
		--angle: -0.25deg;
	}
	&:nth-child(odd) {
		--background-color: var(--purple-darkest);
		--angle: 0.25deg;
	}
	&:nth-child(even) {
		--background-color: var(--purple-darker);
		--angle: -0.25deg;
	}
	&:last-child {
		--background-color: var(--purple-darkest);
		--angle: 0.25deg;
	}

	> * {
		&:nth-child(odd):not(:only-child) {
			--background-color: var(--purple-darker);
			--angle: -0.5deg;
		}
		&:nth-child(even):not(:only-child) {
			--background-color: var(--purple-darkest);
			--angle: -0.5deg;
		}
	}
}

article > *,
aside {
	position: relative;

	padding: 4rem 2rem;

	&::before,
	&::after {
		content: "";
		background-color: var(--background-color);
		// box-shadow: inset 0 0 0 1rem var(--background-color);
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		bottom: -1rem;
		width: 100vw;

		mix-blend-mode: hue;
		opacity: 0.5;
		transform: rotate(var(--angle));
		transform-origin: center left;
		backdrop-filter: saturate(110%);
	}
	&::after {
		transform: rotate(calc(var(--angle) * -1));
		transform-origin: center right;
	}
}

section {
	// display: grid;
	// grid-template-columns: 30ch 70ch;
	// align-items: center;
	// justify-content: center;
	// padding: 2rem;

	&:nth-child(odd) {
		// align-items: start;
		justify-content: start;
	}
	&:nth-child(even) {
		// align-items: end;
		justify-content: end;
	}

	> * {
		grid-column: 2;
	}
	> h2 {
		grid-column: 1;
		grid-row: 1 / -1;
		// padding: 1rem;
	}
}

.container {
	> * + * {
		margin-top: 1.5rem;
	}
	> a {
		display: inline-block;
	}
}

#guidelines {
}
.link-guidelines {
}

#files {
	a {
		margin-left: 1em;
	}
	a + a {
		margin-left: 2em;
	}
}
.link-downloadcss {
}
.link-downloadhtml {
}
.link-codepen {
}
.link-allstyles {
}

//Current Style
.profile {
}
.profile-title {
}
.profile-author {
}
.profile-twitter {
}
.profile-website {
}

//Featured Styles
.features {
}
