.page-footer {
	min-height: 50vh;
	background-color: black;
	overflow: hidden;

	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: center;

	text-align: center;

	--icon-color: var(--yellow-neon);

	&:before,
	&:after {
		content: "Style Stage";
		display: block;
		position: absolute;

		opacity: 0.075;
		font-style: italic;
		font-size: 15vw;

		width: 6ch;
		text-indent: -2.6ch;

		line-height: 1;
		text-transform: uppercase;
	}
	&:before {
		top: 1ch;
		left: 1ch;
	}
	&:after {
		right: 1ch;
		bottom: 1ch;
	}
}
.page-footer .container {
	padding: 2rem;
	z-index: 5;

	> * + * {
		margin-top: 2rem;
		max-width: 45ch;
		margin-left: auto;
		margin-right: auto;
	}

	@include ridiculous-text-shadow($width1: 1px, $width2: 2px, $color1: black, $color2: black);
	svg {
		filter: drop-shadow(2px 0 0 black) drop-shadow(-2px 0 0 black) drop-shadow(0 2px 0 black)
			drop-shadow(0 -2px 0 black);
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		max-width: 100%;
		padding: 0;
		margin: 2rem 0 0;
		list-style-type: none;
		align-items: center;
		justify-content: center;
	}
	li {
		padding: 0;
		margin: 0.5em 1em;
	}
}
.page-footer .link-github {
}

.link-twittercontact {
	--icon: "\00FF03";
	--icon-fudge-x: -0.2em;
	--icon-fudge-y: -0.55em;
}
.link-rss {
	--icon: "\002665";
}
.link-support {
	--icon: "\002714";
	--icon-fudge-x: -0.125em;
	--icon-fudge-y: -0.55em;
}
