header {
	overflow: hidden;

	--link-color: var(--green-neon);
	--icon-color: var(--black);

	background-image: repeating-linear-gradient(
		34deg,
		var(--header-bg-secondary) 8px,
		var(--header-bg-secondary) 16px,
		var(--header-bg-primary) 16px,
		var(--header-bg-primary) 32px
	);
	@media (prefers-reduced-motion: reduce) {
		&:before,
		&:after {
			content: none !important;
		}
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
	}

	&:before {
		width: 200vw;
		height: 200vh;
		top: -25vh;
		bottom: -25vh;
		left: -25vw;
		right: -25vw;

		transform-origin: center center;

		background-repeat: repeat;
		background-color: var(--purple-darkest);

		animation-name: rotateGradient, panGradient;
		animation-duration: var(--beat-bg-swap-interval), calc(var(--beat-interval) * 4);
		animation-timing-function: steps(1), linear;
		animation-direction: normal, alternate;
		animation-iteration-count: infinite;
	}
	&:after {
	}
}

header .container {
	max-width: 100%;
	padding: 1rem;

	text-align: center;
	color: var(--header-text-primary);
	@include ridiculous-text-shadow(
		$width1: 1px,
		$width2: 2px,
		$color1: var(--text-stroke-color),
		$color2: var(--text-stroke-color)
	);

	@supports (display: grid) {
		display: grid;
		grid-template-areas: "link" "title" "subtitle" "credit";
		grid-template-columns: 100%;
		grid-template-rows: max-content max-content max-content max-content;
		min-height: 100vh;

		gap: 2rem;
		@media (min-width: $breakpoint-lg) {
			gap: 1rem;
		}

		* {
			margin: 0;
			align-self: end;
			justify-self: center;
		}
		h1,
		h2 {
			align-self: center;
		}
		.link-github {
			justify-self: end;
		}
	}
}

header h1,
header h2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
header h1 {
	grid-area: title;

	@include logo-type-style();

	width: 6ch;
	max-width: 15ch;
	text-indent: -2.6ch;

	font-size: calc(1.5rem + 9vmin);
	@media (min-width: $breakpoint-md) {
		font-size: 6rem;
	}
	line-height: 1.6;

	@include ridiculous-text-shadow;
}
header h2 {
	grid-area: subtitle;

	max-width: 28ch;
	padding: 1rem;

	font-size: var(--h4-font-size);
	@media (min-width: $breakpoint-sm) {
		font-size: var(--h3-font-size);
	}
	@media (min-width: $breakpoint-md) {
		font-size: var(--h2-font-size);
	}

	color: var(--header-text-secondary);
}

header .link-github {
	grid-area: link;
	display: inline-flex;
	--icon-color: var(--black);

	svg {
	}
	span,
	svg {
		animation-duration: var(--beat-interval);
		animation-direction: normal;
		animation-iteration-count: infinite;
		animation-play-state: paused;
		animation-timing-function: cubic-bezier(0.31, 0.37, 1, 1.65);
	}
	&:hover span,
	&:hover svg {
		animation-play-state: running;
	}

	span {
		display: contents;
		animation-name: beat;
	}
	svg {
		filter: drop-shadow(2px 0 0 var(--icon-color)) drop-shadow(-2px 0 0 var(--icon-color))
			drop-shadow(0 2px 0 var(--icon-color)) drop-shadow(0 -2px 0 var(--icon-color));

		animation-name: beat, moveAlongWord;
		animation-direction: alternate;

		transition-property: filter, color, fill;
		transition-duration: 250ms;
	}
	&:hover,
	&:focus {
		svg {
			animation-duration: calc(var(--beat-interval) / 2);

			--icon-color: var(--header-text-secondary);
			filter: drop-shadow(-0.1rem -0.1rem 0 var(--red)) drop-shadow(0.1rem -0.1rem 0 var(--teal))
				drop-shadow(-0.1rem 0.1rem 0 var(--purple)) drop-shadow(0.1rem 0.1rem 0 var(--orange-neon))
				drop-shadow(-0.2rem -0.2rem 0 var(--black)) drop-shadow(0.2rem -0.2rem 0 var(--black))
				drop-shadow(-0.2rem 0.2rem 0 var(--black)) drop-shadow(0.2rem 0.2rem 0 var(--black));
		}
	}
}

header h1,
header h1:before,
header h1:after {
	padding: 5rem 2rem;
}

// Crazy Text Effects and Animations

header h1 {
	animation-name: entrance, beat;
	animation-duration: 1s, calc(var(--beat-interval) * 1);
	animation-timing-function: ease-in-out, cubic-bezier(0.31, 0.37, 1, 1.65);
	animation-direction: normal;
	animation-iteration-count: 1, infinite;

	transform-origin: center center;

	@media (min-width: $breakpoint-md) {
		--rotate: -20deg;
		--translateX: 0ch;
		--translateY: -0.4ch;
	}
	--rotate: -65deg;
	--translateX: -0.4ch;
	--translateY: 0ch;
	--scaleX-fudge: 0;
	--scaleY-fudge: 0;

	@supports (-webkit-text-fill-color: white) {
		z-index: 5;

		line-height: 1.45;
		@include ridiculous-text-shadow(
			$width1: 3px,
			$width2: 4px,
			$color1: var(--text-stroke-color),
			$color2: var(--text-stroke-color)
		);

		&::before,
		&::after {
			content: "Style Stage";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			--rotate: 0;
			--translateX: 0;
			--translateY: 0;

			animation-name: beat;
			animation-duration: var(--beat-interval);
			animation-timing-function: cubic-bezier(0.31, 0.37, 1, 1.65);
			animation-iteration-count: infinite;

			text-shadow: none;
		}
		&::before {
			z-index: -1;

			-webkit-text-fill-color: var(--header-text-secondary);
			-webkit-text-stroke-width: 0.25em;
			-webkit-text-stroke-color: var(--header-text-tertiary);
		}
		&::after {
			z-index: -2;
			-webkit-text-fill-color: var(--header-text-tertiary);
			-webkit-text-stroke-width: 0.5em;
			-webkit-text-stroke-color: var(--header-text-secondary);

			filter: drop-shadow(2px 0 0 black) drop-shadow(-2px 0 0 black) drop-shadow(0 2px 0 black)
				drop-shadow(0 -2px 0 black);
		}
	}
}
