body {
	@supports (display: grid) {
		display: grid;
	}
	grid-template-areas:
		"skiplink"
		"header"
		"nav"
		"main"
		"profile"
		"styles"
		"footer"
		"sponsor";
	grid-template-columns: 1fr;

	@media (min-width: $breakpoint-md) {
		grid-template-areas:
			"skiplink skiplink"
			"header header"
			"main nav"
			"profile nav"
			"styles nav"
			"footer footer"
			"sponsor sponsor";
		grid-template-columns: 3fr 1fr;
	}
}
.skip-link {
	grid-area: skiplink;
}
header {
	grid-area: header;
	z-index: 100;
	contain: content;

	&::before {
		z-index: -10;
	}
	&::after {
		z-index: -5;
	}
}
nav {
	z-index: 2;
	grid-area: nav;

	&::before {
		z-index: -1;
	}
	&::after {
		z-index: -2;
	}
}
main {
	z-index: 1;
	grid-area: main;
}
aside {
	z-index: 1;
}
.profile {
	grid-area: profile;
}
#styles {
	grid-area: styles;
}
.page-footer {
	grid-area: footer;
	z-index: 100;
	contain: layout;
}
#sponsor-footer {
	grid-area: sponsor;
	z-index: 100;
}
