//Logo Type
@mixin logo-type-style() {
	font-family: "nyc_zone_123", sans-serif;
	text-transform: uppercase;
	font-style: normal;

	color: var(--header-text-primary);
}

// a11y: content made available only to screen readers
@mixin visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	border: 0;
	white-space: nowrap;
}

//transitions
@mixin transition-basic(
	$property: "color, background-color, border-color, text-decoration-color, box-shadow, transform, filter, opacity",
	$duration: 300ms,
	$easing: ease-in-out
) {
	transition-property: unquote($property);
	transition-duration: $duration;
	transition-timing-function: $easing;
}
@mixin transition-high-performance($property: "transform, opacity", $duration: 300ms, $easing: ease-in-out) {
	transition-property: unquote($property);
	transition-duration: $duration;
	transition-timing-function: $easing;
}

//text shadow
@mixin ridiculous-text-shadow(
	$width1: 0.06em,
	$width2: 0.12em,
	$color1: var(--green-dark),
	$color2: var(--yellow-neon)
) {
	text-shadow: 0 #{$width1} #{$color1}, 0 -#{$width1} #{$color1}, #{$width1} 0 #{$color1}, -#{$width1} 0 #{$color1},
		#{$width1} -#{$width1} #{$color1}, #{$width1} #{$width1} #{$color1}, -#{$width1} #{$width1} #{$color1},
		-#{$width1} -#{$width1} #{$color1}, 0 #{$width2} #{$color2}, 0 -#{$width2} #{$color2}, #{$width2} 0 #{$color2},
		-#{$width2} 0 #{$color2}, #{$width2} -#{$width2} #{$color2}, #{$width2} #{$width2} #{$color2},
		-#{$width2} #{$width2} #{$color2}, -#{$width2} -#{$width2} #{$color2};
}
