:root {
	@supports (font-size: var(--font-size-base)) {
		//This caused odd issues in IE once polyfilled.
		font-size: var(--font-size-base);
		font-size: calc(var(--font-size-base) + var(--font-size-scale));
	}

	line-height: var(--line-height-base);

	font-family: var(--font-family-base);
	font-weight: var(--font-weight-base--normal);

	color: var(--white);
	background-color: var(--black);

	overflow-x: hidden;

	text-rendering: optimizeLegibility;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	scroll-behavior: smooth;
}

body {
	background-color: var(--purple-darkest);
}

::selection {
	color: var(--teal);
	background-color: var(--purple-darkest);
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
}

*,
*:before,
*:after {
	@media (prefers-reduced-motion: reduce) {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		--transition-duration: 0.01ms !important;
	}
}

.skip-link {
	@include visually-hidden;
}
