// Links

// $a-tags-base: "a, a:visited";
$a-tags-base: "a";

a {
	max-width: intrinsic;
	max-width: max-content; // This could be bad.
}

#{$a-tags-base} {
	color: var(--link-color);

	text-decoration: underline;

	@include ridiculous-text-shadow($width1: 1px, $width2: 2px, $color1: black, $color2: black);

	@supports (text-decoration-color: red) {
		text-decoration-color: var(--link-accent-color);
		text-decoration-thickness: 0.1em;
	}
	text-underline-offset: 0.1em;

	// @include transition-basic;
}

#{$a-tags-base} {
	&:hover {
		color: var(--link-color--hover);
	}
	&:active {
		color: var(--link-color--active, var(--link-color--hover));
	}
	&:focus {
		color: var(--link-color--focus);
	}
}

a:not([href]) {
}

a svg {
	display: inline-block;
	width: auto;
	height: 1em;
	fill: var(--icon-color, currentColor);
}

a[class^="link-"] {
	display: inline-flex;
	position: relative;

	&::before,
	svg {
		content: var(--icon, "");
		font-family: sans-serif;
		font-size: 2em;
		line-height: 1;

		position: absolute;
		z-index: -1;
		top: -0.3em;
		left: -0.4em;

		width: 1em;
		height: 1em;

		fill: var(--icon-color);
		color: var(--icon-color);
	}
	&::before {
	}
}
a.link-github {
	content: none;
}

//Headings

@for $i from 1 through 6 {
	h#{$i} {
		color: var(--yellow-neon);

		font-size: var(--heading-font-size, var(--h#{$i}-font-size));
		font-weight: normal;
		line-height: var(--h#{$i}-line-height, var(--heading-line-height));

		text-transform: uppercase;
		font-style: italic;

		@include ridiculous-text-shadow($width1: 2px, $width2: 3px, $color1: black, $color2: black);

		+ * {
			margin-top: var(--heading-spacing, 1rem);
		}
	}
}
