$beat-interval: 2.5;
$bg-count: 25; // must be divisible by 100

:root {
	//Colors
	--white: #fff;
	--black: #000;

	--green-neon: #34ff22;
	--yellow-neon: #e4ff03;

	--green-dark: #08751a;
	--green: #4fb54b;
	--green-light: #a4cf63;
	--green-lightest: #e2e7be;

	--yellow: #f3dd00;

	--orange-light: #ffb611;
	--orange-dark: #ff5f00;

	--red: #fa1b28;
	--red-dark: #e3000c;

	--purple: #8846cc;
	--purple-dark: #7632b9;
	--purple-darker: #642b9d;
	--purple-darkest: #512481;

	--teal: #50f7f7;

	@supports (color: color(display-p3 1 0 0 / 1)) {
		--green-neon: color(display-p3 0.34 1 0.12);

		--yellow-neon: color(display-p3 0.927 1 0.405);

		--green-dark: color(display-p3 0.038 0.625 0.038);
		--green: color(display-p3 0.293 0.705 0.19);
		--green-light: color(display-p3 0.612 0.82 0.234);
		--green-lightest: color(display-p3 0.8898 0.9052 0.7608);

		--yellow: color(display-p3 0.945 0.862 0.137);

		--orange-light: color(display-p3 0.96 0.707 0.202);
		--orange-dark: color(display-p3 0.975 0.376 0.093);

		--purple: color(display-p3 0.483 0.027 0.785);
		--purple-dark: color(display-p3 0.41 0.01 0.675);
		// --purple-darker: color(display-p3 0.41 0.01 0.675);
		--purple-darkest: color(display-p3 0.402 0.041 0.675);

		--teal: color(display-p3 0.4467 0.5719 0.5741);
	}

	//Applied
	--text-color: var(--white);
	--heading-color: var(--yellow-neon);
	--background-color: var(--purple-darkest);

	--link-color: var(--green-neon);
	--link-color--hover: var(--link-color);
	--link-color--active: var(--link-color);
	--link-color--focus: var(--link-color);

	--header-text-primary: var(--white);
	--header-text-secondary: var(--yellow-neon);
	--header-text-tertiary: var(--green-neon);

	--header-bg-primary: var(--purple-darkest);
	--header-bg-secondary: var(--purple-darker);
	--header-bg-tertiary: var(--purple-dark);

	--footer-icon: var(--yellow-neon);

	// ========

	//Type
	--font-family-base: "jet_set", sans-serif;
	--font-weight-base--normal: 400;

	--font-size-base: 100%;
	--font-size-scale: 0.5vmin;
	--line-height-base: 1.5;
	--line-length-max: 60ch;

	--heading-font-size-base: 1.1rem;
	--heading-line-height: 1.2;
	--heading-size-scale: 1.18;

	--h6-font-size: calc(var(--heading-font-size-base) * var(--heading-size-scale));
	--h5-font-size: calc(var(--h6-font-size) * var(--heading-size-scale));
	--h4-font-size: calc(var(--h5-font-size) * var(--heading-size-scale));
	--h3-font-size: calc(var(--h4-font-size) * var(--heading-size-scale));
	--h2-font-size: calc(var(--h3-font-size) * var(--heading-size-scale));
	--h1-font-size: calc(var(--h2-font-size) * var(--heading-size-scale));

	// ========

	//Animations

	--beat-interval: #{$beat-interval}s;
	--beat-bg-swap-interval: #{$beat-interval * $bg-count}s;
}
