/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
}

/* Set core body defaults */
:root {
	text-rendering: optimizeLegibility;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	scroll-behavior: smooth;
}

/* Remove default margin */
body {
	margin: 0;
}

/* Remove default margin on elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
dt,
dd,
hr,
img,
audio,
video,
figure,
figcaption,
blockquote,
address,
table,
caption,
form,
fieldset,
pre,
details,
summary {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	/* Add reasonable defaults back */
	+ * {
		margin-top: 1rem;
		margin-top: var(--flow-spacing, 1rem);
	}
}

//Reasonable list defaults
ul,
ol,
dl {
	padding-left: 1.25em;
}
li + li {
	margin-top: 0.25em;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	width: max-content;
	max-width: 100%;
	display: block;
	border-style: none;
}

// Collapse table borders
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

// Max width on inputs and buttons
input,
button,
textarea,
select {
	max-width: 100%;
}

// Consistent search input styling in webkit
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

// Align checkboxes and radio buttons
input[type="checkbox"],
input[type="radio"] {
	margin: 0;
	vertical-align: middle;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

//Strip down selects to make consistent
select,
option {
	-webkit-appearance: none; /* WebKit/Chromium */
	-moz-appearance: none; /* Gecko */
	appearance: none; /* future (or now) */
}
select::-ms-expand {
	display: none; /* Internet Explorer 10–11 and Edge */
}

// Set up HTML 5 Elements in old browsers
article,
aside,
figure,
footer,
header,
hgroup,
main,
section,
details {
	display: block;
}

// Override browser default on <address>
address {
	font-style: normal;
}

// Set up fieldsets to be less ugly
fieldset {
	border-width: 1px;
	border-style: solid;
	border-color: currentColor;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */

	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Make [hidden] work on all browsers.
 */

[hidden] {
	display: none !important;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	margin: 0;
	white-space: normal; /* 1 */
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

// Correct element displays

output {
	display: inline-block;
}

// 1. Add the correct display in all browsers

summary {
	display: list-item; // 1
	cursor: pointer;
}

// Add the correct display for template in IE 11

template {
	display: none;
}

// Always hide an element with the `hidden` HTML attribute.

[hidden] {
	display: none !important;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
