@charset "UTF-8";
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  23% {
    transform: scale(1);
  }
  24% {
    transform: scale(1.015);
  }
  25% {
    transform: scale(1);
  }
  48% {
    transform: scale(1);
  }
  49% {
    transform: scale(1.015);
  }
  50% {
    transform: scale(1);
  }
  73% {
    transform: scale(1);
  }
  74% {
    transform: scale(1.015);
  }
  75% {
    transform: scale(1);
  }
  98% {
    transform: scale(1);
  }
  99% {
    transform: scale(1.045);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotateGradient {
  0% {
    background-image: repeating-linear-gradient(var(--gradient-angle), var(--header-bg-secondary) 3px, var(--header-bg-secondary) calc(6px), var(--header-bg-primary) calc(6px), var(--header-bg-primary) calc(9px), var(--header-bg-secondary) calc(9px), var(--header-bg-secondary) calc(12px));
  }
  3% {
    background-image: repeating-linear-gradient(34deg, var(--header-bg-secondary) 3px, var(--header-bg-secondary) calc(6px), var(--header-bg-primary) calc(6px), var(--header-bg-primary) calc(9px), var(--header-bg-secondary) calc(9px), var(--header-bg-secondary) calc(12px));
  }
  4% {
    background-image: repeating-linear-gradient(20.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  7% {
    background-image: repeating-linear-gradient(20.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  8% {
    background-image: repeating-linear-gradient(76deg, var(--green) 3px, var(--green) calc(6px), var(--green-neon) calc(6px), var(--green-neon) calc(9px), var(--green) calc(9px), var(--green) calc(12px));
  }
  11% {
    background-image: repeating-linear-gradient(76deg, var(--green) 3px, var(--green) calc(6px), var(--green-neon) calc(6px), var(--green-neon) calc(9px), var(--green) calc(9px), var(--green) calc(12px));
  }
  12% {
    background-image: repeating-linear-gradient(7.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--orange-light) calc(6px), var(--orange-light) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  15% {
    background-image: repeating-linear-gradient(7.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--orange-light) calc(6px), var(--orange-light) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  16% {
    background-image: repeating-linear-gradient(96deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--purple-dark) calc(6px), var(--purple-dark) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  19% {
    background-image: repeating-linear-gradient(96deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--purple-dark) calc(6px), var(--purple-dark) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  20% {
    background-image: repeating-linear-gradient(72.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  23% {
    background-image: repeating-linear-gradient(72.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  24% {
    background-image: repeating-linear-gradient(123deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--red) calc(6px), var(--red) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  27% {
    background-image: repeating-linear-gradient(123deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--red) calc(6px), var(--red) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  28% {
    background-image: repeating-linear-gradient(80.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  31% {
    background-image: repeating-linear-gradient(80.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  32% {
    background-image: repeating-linear-gradient(136deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--purple-dark) calc(6px), var(--purple-dark) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  35% {
    background-image: repeating-linear-gradient(136deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--purple-dark) calc(6px), var(--purple-dark) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  36% {
    background-image: repeating-linear-gradient(-166.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--orange-light) calc(6px), var(--orange-light) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  39% {
    background-image: repeating-linear-gradient(-166.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--orange-light) calc(6px), var(--orange-light) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  40% {
    background-image: repeating-linear-gradient(180deg, var(--green) 3px, var(--green) calc(6px), var(--green-neon) calc(6px), var(--green-neon) calc(9px), var(--green) calc(9px), var(--green) calc(12px));
  }
  43% {
    background-image: repeating-linear-gradient(180deg, var(--green) 3px, var(--green) calc(6px), var(--green-neon) calc(6px), var(--green-neon) calc(9px), var(--green) calc(9px), var(--green) calc(12px));
  }
  44% {
    background-image: repeating-linear-gradient(60.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  47% {
    background-image: repeating-linear-gradient(60.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  48% {
    background-image: repeating-linear-gradient(120deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--red) calc(6px), var(--red) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  51% {
    background-image: repeating-linear-gradient(120deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--red) calc(6px), var(--red) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  52% {
    background-image: repeating-linear-gradient(32.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  55% {
    background-image: repeating-linear-gradient(32.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  56% {
    background-image: repeating-linear-gradient(112deg, var(--green) 3px, var(--green) calc(6px), var(--green-neon) calc(6px), var(--green-neon) calc(9px), var(--green) calc(9px), var(--green) calc(12px));
  }
  59% {
    background-image: repeating-linear-gradient(112deg, var(--green) 3px, var(--green) calc(6px), var(--green-neon) calc(6px), var(--green-neon) calc(9px), var(--green) calc(9px), var(--green) calc(12px));
  }
  60% {
    background-image: repeating-linear-gradient(-592.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--orange-light) calc(6px), var(--orange-light) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  63% {
    background-image: repeating-linear-gradient(-592.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--orange-light) calc(6px), var(--orange-light) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  64% {
    background-image: repeating-linear-gradient(48deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--purple-dark) calc(6px), var(--purple-dark) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  67% {
    background-image: repeating-linear-gradient(48deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--purple-dark) calc(6px), var(--purple-dark) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  68% {
    background-image: repeating-linear-gradient(-59.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  71% {
    background-image: repeating-linear-gradient(-59.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  72% {
    background-image: repeating-linear-gradient(-9deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--red) calc(6px), var(--red) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  75% {
    background-image: repeating-linear-gradient(-9deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--red) calc(6px), var(--red) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  76% {
    background-image: repeating-linear-gradient(-123.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  79% {
    background-image: repeating-linear-gradient(-123.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  80% {
    background-image: repeating-linear-gradient(-80deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--purple-dark) calc(6px), var(--purple-dark) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  83% {
    background-image: repeating-linear-gradient(-80deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--purple-dark) calc(6px), var(--purple-dark) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  84% {
    background-image: repeating-linear-gradient(-1270.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--orange-light) calc(6px), var(--orange-light) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  87% {
    background-image: repeating-linear-gradient(-1270.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--orange-light) calc(6px), var(--orange-light) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  88% {
    background-image: repeating-linear-gradient(-264deg, var(--green) 3px, var(--green) calc(6px), var(--green-neon) calc(6px), var(--green-neon) calc(9px), var(--green) calc(9px), var(--green) calc(12px));
  }
  91% {
    background-image: repeating-linear-gradient(-264deg, var(--green) 3px, var(--green) calc(6px), var(--green-neon) calc(6px), var(--green-neon) calc(9px), var(--green) calc(9px), var(--green) calc(12px));
  }
  92% {
    background-image: repeating-linear-gradient(-287.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  95% {
    background-image: repeating-linear-gradient(-287.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
  96% {
    background-image: repeating-linear-gradient(-264deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--red) calc(6px), var(--red) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  99% {
    background-image: repeating-linear-gradient(-264deg, var(--purple-darkest) 3px, var(--purple-darkest) calc(6px), var(--red) calc(6px), var(--red) calc(9px), var(--purple-darkest) calc(9px), var(--purple-darkest) calc(12px));
  }
  100% {
    background-image: repeating-linear-gradient(-387.5deg, var(--orange-dark) 3px, var(--orange-dark) calc(6px), var(--yellow) calc(6px), var(--yellow) calc(9px), var(--orange-dark) calc(9px), var(--orange-dark) calc(12px));
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

/* Set core body defaults */
:root {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

/* Remove default margin */
body {
  margin: 0;
}

/* Remove default margin on elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
dt,
dd,
hr,
img,
audio,
video,
figure,
figcaption,
blockquote,
address,
table,
caption,
form,
fieldset,
pre,
details,
summary {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  /* Add reasonable defaults back */
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
p + *,
ul + *,
ol + *,
dl + *,
li + *,
dt + *,
dd + *,
hr + *,
img + *,
audio + *,
video + *,
figure + *,
figcaption + *,
blockquote + *,
address + *,
table + *,
caption + *,
form + *,
fieldset + *,
pre + *,
details + *,
summary + * {
  margin-top: 1rem;
  margin-top: var(--flow-spacing, 1rem);
}

ul,
ol,
dl {
  padding-left: 1.25em;
}

li + li {
  margin-top: 0.25em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  width: max-content;
  max-width: 100%;
  display: block;
  border-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input,
button,
textarea,
select {
  max-width: 100%;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=checkbox],
input[type=radio] {
  margin: 0;
  vertical-align: middle;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

select,
option {
  -webkit-appearance: none;
  /* WebKit/Chromium */
  -moz-appearance: none;
  /* Gecko */
  appearance: none;
  /* future (or now) */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 10–11 and Edge */
}

article,
aside,
figure,
footer,
header,
hgroup,
main,
section,
details {
  display: block;
}

address {
  font-style: normal;
}

fieldset {
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Make [hidden] work on all browsers.
 */
[hidden] {
  display: none !important;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  margin: 0;
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --white: #fff;
  --green-neon: #34ff22;
  --yellow-neon: #e4ff03;
  --green-dark: #537759;
  --green: #4fb54b;
  --green-light: #a4cf63;
  --green-lightest: #e2e7be;
  --yellow: #f3dd00;
  --orange-light: #ffb611;
  --orange-dark: #ff5f00;
  --red: #fa1b28;
  --purple: #8846cc;
  --purple-dark: #7632b9;
  --purple-darkest: #512481;
  --teal: #699393;
  --text-color: var(--white);
  --heading-color: var(--yellow-neon);
  --background-color: var(--purple-darkest);
  --link-color: var(--orange-light);
  --link-color--hover: var(--link-color);
  --link-color--active: var(--link-color);
  --link-color--focus: var(--link-color);
  --header-text-primary: var(--white);
  --header-text-secondary: var(--yellow-neon);
  --header-text-tertiary: var(--green-dark);
  --header-bg-primary: var(--purple);
  --header-bg-secondary: var(--purple-dark);
  --header-bg-tertiary: var(--purple-darkest);
  --font-family-base: "jet_set", sans-serif;
  --font-weight-base--normal: 400;
  --font-size-base: 100%;
  --font-size-scale: 0.5vmin;
  --line-height-base: 1.5;
  --line-length-max: 60ch;
  --heading-font-size-base: 1.1rem;
  --heading-line-height: 1.2;
  --heading-size-scale: 1.12;
  --h6-font-size: calc(var(--heading-font-size-base) * var(--heading-size-scale));
  --h5-font-size: calc(var(--h6-font-size) * var(--heading-size-scale));
  --h4-font-size: calc(var(--h5-font-size) * var(--heading-size-scale));
  --h3-font-size: calc(var(--h4-font-size) * var(--heading-size-scale));
  --h2-font-size: calc(var(--h3-font-size) * var(--heading-size-scale));
  --h1-font-size: calc(var(--h2-font-size) * var(--heading-size-scale));
  --header-logo-pulse-interval: 2.5s;
  --header-bg-swap-interval: 62.5s;
}
@supports (color: color(display-p3 1 0 0/1)) {
  :root {
    --green-neon: color(display-p3 0.34 1 0.12);
    --yellow-neon: color(display-p3 0.927 1 0.405);
    --green-dark: color(display-p3 0.038 0.625 0.038);
    --green: color(display-p3 0.293 0.705 0.19);
    --green-light: color(display-p3 0.612 0.82 0.234);
    --green-lightest: color(display-p3 0.8898 0.9052 0.7608);
    --yellow: color(display-p3 0.945 0.862 0.137);
    --orange-light: color(display-p3 0.96 0.707 0.202);
    --orange-dark: color(display-p3 0.975 0.376 0.093);
    --purple: color(display-p3 0.483 0.027 0.785);
    --purple-dark: color(display-p3 0.41 0.01 0.675);
    --purple-darkest: color(display-p3 0.402 0.041 0.675);
    --teal: color(display-p3 0.4467 0.5719 0.5741);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-9 10:46:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@font-face {
  font-family: "jet_set";
  src: url("fonts/jet_set-webfont.woff2") format("woff2"), url("fonts/jet_set-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jet_set";
  src: url("fonts/jet_set_italic-webfont.woff2") format("woff2"), url("fonts/jet_set_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "capconstruct";
  src: url("fonts/capconst-webfont.woff2") format("woff2"), url("fonts/capconst-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nyc_zone_123";
  src: url("fonts/nyc_zone_123-webfont.woff2") format("woff2"), url("fonts/nyc_zone_123-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base--normal);
  color: var(--white);
  background-color: var(--purple-darkest);
}
@supports (font-size: var(--font-size-base)) {
  :root {
    font-size: var(--font-size-base);
    font-size: calc(var(--font-size-base) + var(--font-size-scale));
  }
}

.skip-link {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

a {
  max-width: intrinsic;
  max-width: max-content;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}
@supports (text-decoration-color: red) {
  a {
    text-decoration-color: var(--link-accent-color);
    text-decoration-thickness: 0.1em;
  }
}

a:hover {
  color: var(--link-color--hover);
}
a:active {
  color: var(--link-color--active, var(--link-color--hover));
}
a:focus {
  color: var(--link-color--focus);
}

a svg {
  display: inline-block;
  width: auto;
  height: 1em;
  fill: currentColor;
}

h1 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h1-font-size));
  font-weight: normal;
  line-height: var(--h1-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black, 2px -2px black, 2px 2px black, -2px 2px black, -2px -2px black, 0 3px black, 0 -3px black, 3px 0 black, -3px 0 black, 3px -3px black, 3px 3px black, -3px 3px black, -3px -3px black;
}
h1 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h2 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h2-font-size));
  font-weight: normal;
  line-height: var(--h2-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black, 2px -2px black, 2px 2px black, -2px 2px black, -2px -2px black, 0 3px black, 0 -3px black, 3px 0 black, -3px 0 black, 3px -3px black, 3px 3px black, -3px 3px black, -3px -3px black;
}
h2 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h3 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h3-font-size));
  font-weight: normal;
  line-height: var(--h3-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black, 2px -2px black, 2px 2px black, -2px 2px black, -2px -2px black, 0 3px black, 0 -3px black, 3px 0 black, -3px 0 black, 3px -3px black, 3px 3px black, -3px 3px black, -3px -3px black;
}
h3 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h4 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h4-font-size));
  font-weight: normal;
  line-height: var(--h4-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black, 2px -2px black, 2px 2px black, -2px 2px black, -2px -2px black, 0 3px black, 0 -3px black, 3px 0 black, -3px 0 black, 3px -3px black, 3px 3px black, -3px 3px black, -3px -3px black;
}
h4 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h5 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h5-font-size));
  font-weight: normal;
  line-height: var(--h5-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black, 2px -2px black, 2px 2px black, -2px 2px black, -2px -2px black, 0 3px black, 0 -3px black, 3px 0 black, -3px 0 black, 3px -3px black, 3px 3px black, -3px 3px black, -3px -3px black;
}
h5 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h6 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h6-font-size));
  font-weight: normal;
  line-height: var(--h6-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black, 2px -2px black, 2px 2px black, -2px 2px black, -2px -2px black, 0 3px black, 0 -3px black, 3px 0 black, -3px 0 black, 3px -3px black, 3px 3px black, -3px 3px black, -3px -3px black;
}
h6 + * {
  margin-top: var(--heading-spacing, 1rem);
}

body {
  grid-template-columns: 3fr 1fr;
}
@supports (display: grid) {
  body {
    display: grid;
    grid-template-areas: "skip-link skip-link" "header header" "main nav" "profile nav" "styles nav" "footer footer";
  }
}

.skip-link {
  grid-area: "skip-link";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.profile {
  grid-area: profile;
}

#styles {
  grid-area: styles;
}

.page-footer {
  grid-area: footer;
}

header {
  position: relative;
  z-index: 100;
  overflow: hidden;
}
header:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1000vh;
  bottom: -1000vh;
  left: -1000vh;
  right: -1000vh;
  background-image: repeating-linear-gradient(34deg, var(--header-bg-secondary) 3px, var(--header-bg-secondary) calc(6px), var(--header-bg-primary) calc(6px), var(--header-bg-primary) calc(9px), var(--header-bg-secondary) calc(9px), var(--header-bg-secondary) calc(12px));
  background-size: 24px auto;
  background-repeat: repeat;
  background-color: var(--purple-dark);
  animation-name: rotateGradient;
  animation-duration: var(--header-bg-swap-interval);
  animation-timing-function: steps(1);
  animation-direction: normal;
  animation-iteration-count: infinite;
}

header .container {
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
  color: var(--header-text-primary);
  text-shadow: 0 1px black, 0 -1px black, 1px 0 black, -1px 0 black, 1px -1px black, 1px 1px black, -1px 1px black, -1px -1px black, 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black, 2px -2px black, 2px 2px black, -2px 2px black, -2px -2px black;
}
header .container svg {
  filter: drop-shadow(2px 0 0 black) drop-shadow(-2px 0 0 black) drop-shadow(0 2px 0 black) drop-shadow(0 -2px 0 black);
}
@supports (display: grid) {
  header .container {
    display: grid;
    grid-template-areas: "credit credit link" "title title title" "subtitle subtitle subtitle";
    grid-template-rows: max-content 3fr 1fr;
    grid-template-columns: max-content auto max-content;
    gap: 1rem;
  }
  header .container * {
    margin: 0;
  }
  header .container h1,
header .container h2 {
    align-self: center;
    justify-self: center;
  }
}

header h1,
header h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  grid-area: title;
  font-family: "nyc_zone_123", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: var(--header-text-primary);
  transform: rotate(-20deg) translate(0.5ch, -0.25ch);
  transform-origin: center center;
  width: 6ch;
  text-indent: -2.6ch;
  font-size: 5rem;
  line-height: 1.6;
  text-shadow: 0 0.06em var(--green-dark), 0 -0.06em var(--green-dark), 0.06em 0 var(--green-dark), -0.06em 0 var(--green-dark), 0.06em -0.06em var(--green-dark), 0.06em 0.06em var(--green-dark), -0.06em 0.06em var(--green-dark), -0.06em -0.06em var(--green-dark), 0 0.12em var(--yellow-neon), 0 -0.12em var(--yellow-neon), 0.12em 0 var(--yellow-neon), -0.12em 0 var(--yellow-neon), 0.12em -0.12em var(--yellow-neon), 0.12em 0.12em var(--yellow-neon), -0.12em 0.12em var(--yellow-neon), -0.12em -0.12em var(--yellow-neon);
}

header h2 {
  grid-area: subtitle;
  max-width: 28ch;
  color: var(--header-text-secondary);
}

header .link-github {
  grid-area: link;
}

header h1,
header h1:before,
header h1:after {
  padding: 5rem 2rem;
}

header h1 {
  animation-name: entrance;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: 1;
}
@supports (-webkit-text-fill-color: white) {
  header h1 {
    position: relative;
    z-index: 5;
    line-height: 1.45;
    text-shadow: 0 3px black, 0 -3px black, 3px 0 black, -3px 0 black, 3px -3px black, 3px 3px black, -3px 3px black, -3px -3px black, 0 4px black, 0 -4px black, 4px 0 black, -4px 0 black, 4px -4px black, 4px 4px black, -4px 4px black, -4px -4px black;
  }
  header h1::before, header h1::after {
    content: "Style Stage";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    animation-name: pulse;
    animation-duration: var(--header-logo-pulse-interval);
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-iteration-count: infinite;
    text-shadow: none;
  }
  header h1::before {
    z-index: -1;
    -webkit-text-fill-color: var(--header-text-secondary);
    -webkit-text-stroke-width: 0.25em;
    -webkit-text-stroke-color: var(--header-text-tertiary);
    animation-delay: 0.0125s;
  }
  header h1::after {
    z-index: -2;
    -webkit-text-fill-color: var(--header-text-tertiary);
    -webkit-text-stroke-width: 0.5em;
    -webkit-text-stroke-color: var(--header-text-secondary);
    animation-delay: 0.025s;
    filter: drop-shadow(2px 0 0 black) drop-shadow(-2px 0 0 black) drop-shadow(0 2px 0 black) drop-shadow(0 -2px 0 black);
  }
}

nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  text-align: center;
}
nav:before, nav:after {
  content: "Style Stage";
  font-family: "nyc_zone_123", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: var(--header-text-primary);
  position: fixed;
  z-index: -1;
  right: 1rem;
  display: block;
  top: 1vh;
  bottom: 1vh;
  font-size: 8.5vh;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
nav::before {
  z-index: -1;
  -webkit-text-fill-color: var(--purple);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--purple-dark);
}
nav::after {
  z-index: -2;
  -webkit-text-stroke-width: 0.33em;
  -webkit-text-stroke-color: var(--purple-darkest);
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul > * {
  margin: 0.25em;
  flex: 1;
}
@supports (display: grid) {
  nav ul {
    position: fixed;
    flex-flow: column nowrap;
    top: 10vh;
    bottom: 10vh;
  }
}

nav a {
  background-color: white;
  --link-color: black;
  position: relative;
}
article,
aside {
  padding: 2rem;
}
article > * + *,
aside > * + * {
  margin-top: 1.5rem;
}

section:nth-child(odd) {
  justify-content: start;
}
section:nth-child(even) {
  justify-content: end;
}
section > * {
  grid-column: 2;
}
section > h2 {
  grid-column: 1;
  grid-row: 1/-1;
}

.page-footer {
  background-color: black;
}

.page-footer .container {
  padding: 2rem;
}

/*# sourceMappingURL=style.css.map */
