@charset "UTF-8";
/**
 * ----------------------------------------
 * animation pulsate
 * ----------------------------------------
 */
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  1% {
    transform: scale(0.98);
  }
  2% {
    transform: scale(1);
  }
  98% {
    transform: scale(1);
  }
  99% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

/* Set core body defaults */
:root {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

/* Remove default margin */
body {
  margin: 0;
}

/* Remove default margin on elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
dt,
dd,
hr,
img,
audio,
video,
figure,
figcaption,
blockquote,
address,
table,
caption,
form,
fieldset,
pre,
details,
summary {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  /* Add reasonable defaults back */
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
p + *,
ul + *,
ol + *,
dl + *,
li + *,
dt + *,
dd + *,
hr + *,
img + *,
audio + *,
video + *,
figure + *,
figcaption + *,
blockquote + *,
address + *,
table + *,
caption + *,
form + *,
fieldset + *,
pre + *,
details + *,
summary + * {
  margin-top: 1rem;
  margin-top: var(--flow-spacing, 1rem);
}

ul,
ol,
dl {
  padding-left: 1.25em;
}

li + li {
  margin-top: 0.25em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  width: max-content;
  max-width: 100%;
  display: block;
  border-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input,
button,
textarea,
select {
  max-width: 100%;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=checkbox],
input[type=radio] {
  margin: 0;
  vertical-align: middle;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

select,
option {
  -webkit-appearance: none;
  /* WebKit/Chromium */
  -moz-appearance: none;
  /* Gecko */
  appearance: none;
  /* future (or now) */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 10–11 and Edge */
}

article,
aside,
figure,
footer,
header,
hgroup,
main,
section,
details {
  display: block;
}

address {
  font-style: normal;
}

fieldset {
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Make [hidden] work on all browsers.
 */
[hidden] {
  display: none !important;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  margin: 0;
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --white: #fff;
  --green-neon: #34ff22;
  --yellow-neon: #e4ff03;
  --green-dark: #537759;
  --green: #4fb54b;
  --green-light: #a4cf63;
  --green-lightest: #e2e7be;
  --yellow: #f3dd00;
  --orange-light: #ffb611;
  --orange-dark: #ff5f00;
  --purple: #8846cc;
  --purple-dark: #7632b9;
  --purple-darkest: #512481;
  --teal: #699393;
}
:root {
  --font-family-base: "jet_set", sans-serif;
  --font-weight-base--normal: 400;
  --font-size-base: 100%;
  --font-size-scale: 0.5vmin;
  --line-height-base: 1.5;
  --line-length-max: 60ch;
  --heading-font-size-base: 1.1rem;
  --heading-line-height: 1.2;
  --heading-size-scale: 1.12;
  --h6-font-size: calc(var(--heading-font-size-base) * var(--heading-size-scale));
  --h5-font-size: calc(var(--h6-font-size) * var(--heading-size-scale));
  --h4-font-size: calc(var(--h5-font-size) * var(--heading-size-scale));
  --h3-font-size: calc(var(--h4-font-size) * var(--heading-size-scale));
  --h2-font-size: calc(var(--h3-font-size) * var(--heading-size-scale));
  --h1-font-size: calc(var(--h2-font-size) * var(--heading-size-scale));
}

@font-face {
  font-family: "jet_set";
  src: url("fonts/jet_set-webfont.woff2") format("woff2"), url("fonts/jet_set-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jet_set";
  src: url("fonts/jet_set_italic-webfont.woff2") format("woff2"), url("fonts/jet_set_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "capconstruct";
  src: url("fonts/capconst-webfont.woff2") format("woff2"), url("fonts/capconst-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nyc_zone_123";
  src: url("fonts/nyc_zone_123-webfont.woff2") format("woff2"), url("fonts/nyc_zone_123-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base--normal);
  color: var(--white);
  background-color: var(--purple-darkest);
}
@supports (font-size: var(--font-size-base)) {
  :root {
    font-size: var(--font-size-base);
    font-size: calc(var(--font-size-base) + var(--font-size-scale));
  }
}

.skip-link {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

a {
  max-width: intrinsic;
  max-width: max-content;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}
@supports (text-decoration-color: red) {
  a {
    text-decoration-color: var(--link-accent-color);
    text-decoration-thickness: 0.1em;
  }
}

a:hover {
  color: var(--link-color--hover);
}
a:active {
  color: var(--link-color--active, var(--link-color--hover));
}
a:focus {
  color: var(--link-color--focus);
}

a svg {
  display: inline-block;
  width: auto;
  height: 1em;
  fill: currentColor;
}

h1 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h1-font-size));
  line-height: var(--h1-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
}
h1 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h2 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h2-font-size));
  line-height: var(--h2-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
}
h2 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h3 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h3-font-size));
  line-height: var(--h3-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
}
h3 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h4 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h4-font-size));
  line-height: var(--h4-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
}
h4 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h5 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h5-font-size));
  line-height: var(--h5-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
}
h5 + * {
  margin-top: var(--heading-spacing, 1rem);
}

h6 {
  color: var(--yellow-neon);
  font-size: var(--heading-font-size, var(--h6-font-size));
  line-height: var(--h6-line-height, var(--heading-line-height));
  text-transform: uppercase;
  font-style: italic;
}
h6 + * {
  margin-top: var(--heading-spacing, 1rem);
}

header {
  text-align: center;
  background-image: repeating-linear-gradient(var(--gradient-angle), var(--purple-dark) 3px, var(--purple-dark) calc(6px), var(--purple) calc(6px), var(--purple) calc(9px), var(--purple-dark) calc(9px), var(--purple-dark) calc(12px));
  background-size: 32px 32px;
  background-repeat: repeat;
  --gradient-angle: 34deg;
}

header .container {
  display: grid;
  grid-template-areas: "credit credit link" "title title title" "subtitle subtitle subtitle";
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: max-content auto max-content;
  height: 100vh;
  padding: 1rem;
  gap: 1rem;
}

@supports (display: grid) {
  header * {
    margin: 0;
  }
  header h1,
header h2 {
    align-self: center;
    justify-self: center;
  }
}

header h1 {
  position: relative;
  z-index: 5;
  grid-area: title;
  display: block;
  font-size: 5rem;
  width: 6ch;
  font-family: "nyc_zone_123", sans-serif;
  margin: 0 auto;
}
header h1 + * {
  margin-top: 3rem;
}
@supports (-webkit-text-fill-color: white) {
  header h1 {
    transform: rotate(-20deg) translate(1.5rem, -1rem);
    text-indent: -2.6ch;
    line-height: 1.45;
    color: white;
    font-style: normal;
  }
  header h1::before, header h1::after {
    content: "Style Stage";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    animation-name: pulsate;
    animation-duration: 6s;
    animation-timing-function: ease-out;
    animation-direction: alternate-reverse;
  }
  header h1::before {
    z-index: -2;
    -webkit-text-fill-color: var(--green-neon);
    -webkit-text-stroke-width: 0.5em;
    -webkit-text-stroke-color: var(--yellow-neon);
    animation-delay: 0.05s;
  }
  header h1::after {
    z-index: -1;
    -webkit-text-fill-color: var(--yellow-neon);
    -webkit-text-stroke-width: 0.25em;
    -webkit-text-stroke-color: var(--green-dark);
    animation-delay: 0.1s;
  }
}

header h1,
header h1:before,
header h1:after {
  padding: 5rem 2rem;
}

header h2 {
  grid-area: subtitle;
  max-width: 30ch;
}

header p:first-of-type {
  margin: 0;
}

header .link-github {
  grid-area: link;
}

nav {
  padding: 3rem 1rem;
  text-align: center;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

nav li {
  margin: 0.25em;
  flex: 1;
}

article,
aside {
  padding: 2rem;
}
article > * + *,
aside > * + * {
  margin-top: 1.5rem;
}

section {
  display: grid;
  grid-template-columns: 30ch 70ch;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
section:nth-child(odd) {
  justify-content: start;
}
section:nth-child(even) {
  justify-content: end;
}
section > * {
  grid-column: 2;
}
section > h2 {
  grid-column: 1;
  grid-row: 1/-1;
  padding: 1rem;
}

.page-footer .container {
  padding: 2rem;
}

/*# sourceMappingURL=style.css.map */
