$font-root: "https://stylestage-jet-set.birdsong.dev/fonts/";

@font-face {
	font-family: "jet_set";
	src: url($font-root + "jet_set-webfont.woff2") format("woff2"),
		url($font-root + "jet_set-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "jet_set";
	src: url($font-root + "jet_set_italic-webfont.woff2") format("woff2"),
		url($font-root + "jet_set_italic-webfont.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "nyc_zone_123";
	src: url($font-root + "nyc_zone_123-webfont.woff2") format("woff2"),
		url($font-root + "nyc_zone_123-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
